body {
    height: 100dvh;
    background-color: #57a3e1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin: auto;
}

div {
    font-size: 1.3rem;
    font-weight: 800;
    word-spacing: 4px;
    letter-spacing: 4px;
}

table,
th,
td {
    border: 1px solid rgb(240, 255, 0);
    padding: 0.75rem;
    border-collapse: collapse;
    font-size: 1.3rem;
    font-weight: 800;
    word-spacing: normal;
    letter-spacing: normal;
}